SalesAgent.json
{
  "name": "SalesAgent",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "329894f4-b535-8143-b1c5-ec2c15580b31",
          "mode": "list",
          "cachedResultName": "CRM",
          "cachedResultUrl": "https://www.notion.so/329894f4b5358143b1c5ec2c15580b31"
        },
        "returnAll": true,
        "filterType": "manual",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "key": "Etapa|status",
              "condition": "equals",
              "statusValue": "Prospecto"
            },
            {
              "key": "Nombre|title",
              "condition": "contains",
              "titleValue": "Fabian"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -112,
        32
      ],
      "id": "02e78195-5a35-44e8-873b-6be718d60203",
      "name": "Get many database pages",
      "credentials": {
        "notionApi": {
          "id": "x7qMmTYbKYNFjPub",
          "name": "SellAgent"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        32
      ],
      "id": "b34180ed-78d4-4cd2-a4c5-c6d8d57ea3a3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b3af4a31-0755-4ab5-857c-e454619ef80e",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        352
      ],
      "id": "3ba790e0-8925-4186-88f0-4bf7165d40a6",
      "name": "Webhook",
      "webhookId": "b3af4a31-0755-4ab5-857c-e454619ef80e"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        224,
        576
      ],
      "id": "7c448c32-f067-4494-a87b-b0042a991e08",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zWOTfdp1ZA2ulwL1",
          "name": "OpenaiNew"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.conversation.phone_number }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        352,
        576
      ],
      "id": "bbd4a91f-dd76-4542-9d7f-9925509ba5ec",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kapso.ai/meta/whatsapp/v24.0/1101272743059797/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"recipient_type\": \"individual\",\n  \"to\": \"{{ $('Webhook').item.json.body.message.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.output }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        912,
        368
      ],
      "id": "898f14d6-f317-49c1-8a90-0c496ccc05d4",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "nOrj2hMzpanJ0sFz",
          "name": "sendgrid"
        },
        "httpHeaderAuth": {
          "id": "9GRSsiZ4ziD4hxS6",
          "name": "Kapso"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message.kapso.content }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        352
      ],
      "id": "f344fdb6-6c8d-42c5-b494-dfa6056977ff",
      "name": "SalesAgent"
    },
    {
      "parameters": {
        "endpointUrl": "https://mcp.notion.com/mcp",
        "authentication": "mcpOAuth2Api",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        496,
        592
      ],
      "id": "77f808ae-c065-4031-8b9f-ddc02d0dfff6",
      "name": "Notion MCP",
      "credentials": {
        "mcpOAuth2Api": {
          "id": "g5ArvtM9jZwbDrwY",
          "name": "MCP account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f005267-d5f8-4288-9606-b4c0f9e672d7",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        352
      ],
      "id": "e8aa888d-f413-4ba1-8610-cee9a750e9cc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://api.notion.com/v1/data_sources/248104cd477e80afbc30000bd28de8f9/query",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "notionApi",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Notion-Version\": \"2025-09-03\",\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"filter\": {\n    \"property\": \"Telefono\",\n    \"phone_number\": {\n      \"equals\": \"3137661093\"\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        352
      ],
      "id": "62064f02-fced-4b0b-89e2-10ce140cb020",
      "name": "GetLeadNotion",
      "credentials": {
        "notionApi": {
          "id": "x7qMmTYbKYNFjPub",
          "name": "SellAgent"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "329894f4-b535-8143-b1c5-ec2c15580b31",
          "mode": "list",
          "cachedResultName": "CRM",
          "cachedResultUrl": "https://www.notion.so/329894f4b5358143b1c5ec2c15580b31"
        }
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -240,
        352
      ],
      "id": "5b16194b-1aee-4fd0-8415-7935e3fcbc79",
      "name": "Get a database",
      "credentials": {
        "notionApi": {
          "id": "x7qMmTYbKYNFjPub",
          "name": "SellAgent"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "microsaas-n8n.zhmeru.easypanel.host",
            "user-agent": "Ruby",
            "content-length": "1222",
            "accept": "*/*",
            "accept-encoding": "gzip;q=1.0,deflate;q=0.6,identity;q=0.3",
            "baggage": "sentry-trace_id=5fe7bf74ec8f42be866c673b70d62e91,sentry-environment=production,sentry-release=09686e7406cc217080f565c30d5a1af29998fa51,sentry-public_key=8ca2cccc6fc9b2350baf295c391c484b",
            "content-type": "application/json",
            "sentry-trace": "5fe7bf74ec8f42be866c673b70d62e91-cccaacced8da4993",
            "x-forwarded-for": "74.220.48.248",
            "x-forwarded-host": "microsaas-n8n.zhmeru.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "57b356048f5a",
            "x-idempotency-key": "ee0ce531951c2a122d01c7800269e1d953d36ab1b5fa1f045d14d5c32c1b8762",
            "x-real-ip": "74.220.48.248",
            "x-webhook-event": "whatsapp.message.received",
            "x-webhook-payload-version": "v2",
            "x-webhook-signature": "1a66a91aa4828047c317d3046ace1711a1460d6bc4c6c354572cf13f7ffb67fb"
          },
          "params": {},
          "query": {},
          "body": {
            "message": {
              "context": null,
              "from": "573016803866",
              "id": "wamid.HBgMNTczMDE2ODAzODY2FQIAEhggQUNCNEJFMTJDQ0NFMDVEODNGNUQ5MkZBMEU0RDZGOTgA",
              "kapso": {
                "direction": "inbound",
                "status": "delivered",
                "processing_status": "pending",
                "has_media": false,
                "origin": "cloud_api",
                "content": "hola puedes revisar notion dime que personas hay en el pipeline"
              },
              "text": {
                "body": "hola puedes revisar notion dime que personas hay en el pipeline"
              },
              "timestamp": "1775704462",
              "type": "text"
            },
            "conversation": {
              "id": "52db4929-5965-45d1-bb4a-b225ec6ad8b8",
              "contact_name": "user",
              "created_at": "2026-04-07T00:29:23-04:00",
              "kapso": {
                "messages_count": 9,
                "last_message_id": "wamid.HBgMNTczMDE2ODAzODY2FQIAEhggQUNCNEJFMTJDQ0NFMDVEODNGNUQ5MkZBMEU0RDZGOTgA",
                "last_message_type": "text",
                "last_message_timestamp": "2026-04-09T03:14:22.257886Z",
                "last_message_text": "hola puedes revisar notion dime que personas hay en el pipeline",
                "last_inbound_at": "2026-04-09T03:14:22.257886Z",
                "last_outbound_at": "2026-04-08T04:05:29.804806Z"
              },
              "last_active_at": "2026-04-08T23:14:22-04:00",
              "metadata": {},
              "phone_number": "573016803866",
              "phone_number_id": "1101272743059797",
              "status": "active",
              "updated_at": "2026-04-08T23:14:22-04:00"
            },
            "is_new_conversation": false,
            "phone_number_id": "1101272743059797"
          },
          "webhookUrl": "https://microsaas-n8n.zhmeru.easypanel.host/webhook/b3af4a31-0755-4ab5-857c-e454619ef80e",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many database pages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many database pages": {
      "main": [
        []
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "SalesAgent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "SalesAgent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SalesAgent": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion MCP": {
      "ai_tool": [
        [
          {
            "node": "SalesAgent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetLeadNotion": {
      "main": [
        [
          {
            "node": "SalesAgent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a database": {
      "main": [
        [
          {
            "node": "GetLeadNotion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7fb975e5-294b-4ec6-8de8-7eba2fcf679e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "094ede8cb006ab9f6c2d9cc6526871b65d01576c16df5e944b7ee12c0b20e36c"
  },
  "id": "Gc8Gv6N0e5mUMdnk",
  "tags": []
}